@import "../constants/mixins";
@import "../constants/colors";

#item {
  @include flexmixin(column, no-wrap, center, center, 0.75rem);
  width: 16rem;
  box-shadow: $boxshadow01;

  .prod_image {
    width: 100%;
    height: 10rem;
    object-position: center;
    object-fit: cover;
  }

  .add_to_cart {
    margin-bottom: 0.5rem;
  }
}

.history {
  padding-bottom: 0.5rem;
}
